
</div>
<div class="sideBar">
<div class="sideBarListBox">
<img src="images/sideBarListBoxTop.png" alt="" width="240" height="10" />
<ul>
<li><a href="#">OttoGo?</a></li>
<li><a href="#" >What?</a></li>
<li><a href="#" >When?</a></li>
<li><a href="#">Where?</a></li>
<li><a href="#">Which?</a></li>
<li><a href="#">Who?</a></li>
<li><a href="#">Why?</a></li>
<li><a href="#">Whom?</a></li>
<li><a href="#">Bird?</a></li>
  </ul>
<img src="images/sideBarListBoxBottom.png" alt="" width="240" height="10" />
</div>
</div>
<br class="clear" />
</div>
</div>
</div>
